@keyframes person-animation {
    from {
        transform: translate(-100%, 0);
    }

    to {
        transform: translate(100%, 0);
    }
}


.fade-in {
    animation: fade-in linear;
    animation-timeline: view(block);
    animation-range: entry;
}

.fade-out {
    animation: fade-in linear alternate;
    animation-timeline: view(block);
    animation-range: entry;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.from-right {
    animation: from-right linear;
    animation-timeline: view(block);
    animation-range: entry;
    position: relative;
}
@keyframes from-right {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0)
    }
}

.from-left {
    animation: from-left linear;
    animation-timeline: view(block);
    animation-range: entry;
}
@keyframes from-left {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0)
    }
}

