.eighth.visible .person {
    visibility: visible;
}

.eighth {
    height: 250vh;
    text-align: center;
    top: 30vh;
    animation: preson-slide-in 1s linear both;
    animation-timeline: view(block);
    animation-range: contain 0 contain 100;

}

.eighth .person {
    visibility: hidden;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: inherit;
    z-index: 100;
}

@media screen and (max-width: 600px) {
    .decor-1 {
        display: none;
    }
}

