
.finish {
    position: relative;
    z-index: 10000;
    background-color: #67CAEF;
    height: 100vh;
}

.finish > svg {
    width: 100%;
}

.finish > svg.mobile {
    display: none;
}

@media screen and (max-width: 600px) {

    .finish {
        background-color: #F1F2F2;
    }

    .finish > svg:not(.mobile) {
        display: none;
    }

    .finish > svg.mobile {
        display: block;
        top: 0;
        position: absolute;
    }
}