.second {
    position: relative;
    height: 110vh;
    text-align: center;
    z-index: 101;
}

.second .container {
    margin-top: 30vh;
    top: 30vh;
    position: sticky;
}

.second.visible .pc {
    display: none;
}

.pc {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 350px;
}

.person-with-pc {
    position: sticky;
    left: 50%;
    top: 30vh;
    transform: translate(-50%, -50%);
}

.items, .vacancy {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vacancy {
    display: none;
    top: -100px;
    white-space: nowrap;
    z-index: 10;
    color: #fff;
    text-transform: uppercase;
    font-family: Zing;
    font-size: 50px;
    font-weight: 100;
}

.vacancy.visible {
    display: block;
}

@media screen and (max-width: 600px) {
    .pc {
        width: 150px;
        height: 100px;
    }

    .items {
        width: 100vw;
    }

    .vacancy {
        font-size: 18px;
    }
}