.seventh {
    position: relative;
    height: 1200px;
}

.seventh .decor-1 {
    position: absolute;
    left: 100px;
    top: 600px;
}

.seventh .decor-2 {
    position: absolute;
    right: 100px;
    top: 1200px;
}

.seventh .text1 {
    position: absolute;
    left: 0;
    top: 100px;
}

.seventh .text2 {
    position: absolute;
    top: 450px;
    right: 100px;
}

.seventh .text3 {
    position: absolute;
    top: 1250px;
    left: 100px;
}

@media screen and (max-width: 600px) {

    .seventh {
        height: 1500px;
    }

    .seventh .text1, .seventh .text2, .seventh .text3 {
        width: 80vw;
    }

    .seventh .text1 {
        position: absolute;
        left: -5%;
        top: 60px;
        width: 100vw;
    }

    .seventh .decor-1 {
        left: 0;
        top: 400px;
        width: 50vw;
    }
    
    .seventh .text2 {
        position: absolute;
        top: 600px;
        right: 0;
    }

    .seventh .decor-2 {
        left: 0;
        top: 900px;
        width: 50vw;
    }
    
    .seventh .text3 {
        position: absolute;
        right: 20px;
        left: initial;
        top: 1350px;
    }

    
    
}