.sixth {
    position: relative;
    height: 2200px;

    background-image: url(/images/sixth/bg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sixth .text1 {
    position: absolute;
    right: 0;
    top: 200px;
}

.sixth .text2 {
    position: absolute;
    top: 850px;
    left: 0; 
}

.sixth .text3 {
    position: absolute;
    top: 1550px;
    right: 0;
}

@media screen and (max-width: 600px) {

    .sixth {
        height: 1900px;
    }

    .sixth .text1, .sixth .text2, .sixth .text3 {
        width: 80vw;
    }

    .sixth .text1 {
        position: absolute;
        right: 0;
        top: 0px;
    }
    
    .sixth .text2 {
        position: absolute;
        top: 900px;
        width: 100vw;
    }
    
    .sixth .text3 {
        position: absolute;
        right: 0;
        width: 100vw;
        top: 1300px;
    }
}